<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.busi.mapper.AddressOfCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.busi.entity.AddressOfCustomer">
        <id column="ID" property="id" />
        <result column="CUSTOMERINFO_ID" property="customerinfoId" />
        <result column="ADDRESSCONTENT" property="addresscontent" />
        <result column="ADDRESSTYPE_ID" property="addresstypeId" />
        <result column="TEMP" property="temp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS "id", CUSTOMERINFO_ID AS "customerinfoId", ADDRESSCONTENT AS "addresscontent", ADDRESSTYPE_ID AS "addresstypeId", TEMP AS "temp"
    </sql>

</mapper>
